<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/styles/favicon.svg" />
    {% block title %}
        <title>Ecoleta</title>
    {% endblock title %}
    
    <link rel="stylesheet" href="/styles/global.css">
    
    {% block imports %}
    {% endblock imports %}

    <link rel="stylesheet" href="/styles/responsive.css">
</head>
<body>
    <div id="{{pageId}}">
        {% block content %}
        {% endblock content %}
    </div>

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>