@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --title-color: #30116dd8;
    --second-title-color: #110143;
    --primary-color: #34cb79;
    --green: #04D361;
    --gray: #53535A;
    --black-bg: rgb(28, 28, 32);
    --white: #fefefe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h6 {
    font-family: "Ubuntu", sans-serif;
    color: var(--title-color);
}

body {
    background: var(--black-bg);
    -webkit-font-smoothing: antialiased;
}

div.error {
    position: fixed;
    top: -500px;
    right: 0;
    width: 32%;
    max-width: 310px;
    min-height: 32vh;
    border: #615197 1px solid;
    margin: 8px 24px;
    background: #ee3131;
    border-radius: 12px;
    text-align: center;
    transition: all .3s;
}

div.error div.message-error {
    font-size: 28px;
    position: absolute;
    top: 50%;
    line-height: 48px;
    color: #e8e1e1;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    transform: translateY(-50%);
}