@media screen and (max-width: 1100px) {
    #page-home {
        background-position-x: 80vw;
    }
    
    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
    }
    #page-home main {
        align-items: center;
    }
    #page-home main h1 {
        font-size: 32px;
        margin-top: 24px;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr 1fr;
    }

    #page-search-results .card img {
        height: 250px;
    }

    body::after {
        position: absolute;
    }
}

@media screen and (min-width: 1600px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media screen and (max-width: 500px) {
    #page-home header a {
        top: 110px;
        height: fit-content;
        align-items: center;
    }

    #page-home header a span {
        width: 30px;
        background-repeat: no-repeat;
    }
    
    #page-home main h1 {
        font-size: 28px;
        margin-top: 48px;
    }
    
    #page-home main p {
        font-size: 18px;
    }

    #page-home + #modal .content {
        width: 90vw;
    }

    #page-home + #modal .header h1 {
        font-size: 28px;
    }

    #page-home + #modal form input {
        padding: 16px 18px;
    }

    #page-search-results header {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    #page-search-results header a {
        margin-top: 32px;
    }

    #page-create-point header {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    #page-create-point header a {
        margin-top: 32px;
    }

    #page-create-point form {
        padding: 40px 32px;
    }

    #page-create-point form > button {
        width: 100%;
    }

    #page-create-point form .field {
        align-items: center;
    }

    #page-create-point form input,
    #page-create-point form select {
        width: 100%;
        font-size: 14px;
    }

    #page-create-point form legend h2 {
        font-size: 24px;
        width: max-content;
    }

    #page-create-point fieldset + fieldset legend {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    #page-create-point .items-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 620px) {
    body::after {
        height: 350px;
        position: absolute;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .card img {
        height: 300px;
    }

    #page-create-point form h1 {
        font-size: 28px;
    }

    #page-create-point form > button {
        width: 100%;
    }
}

@media screen and (max-height: 800px) {
    #page-home {
        background-position-y: 100px;
    }

    #page-home header a {
        bottom: 16px;
    }
}

@media screen and (max-width: 900px) {
    #page-create-point form .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }
}